
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Warsztat"] - Warsztat</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WarsztatApp.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="p-3 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-between">

                <a class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none" asp-area="" asp-controller="Warsztat" asp-action="Home">Warsztat</a>

                <ul class="nav col-12 col-lg-auto mb-2 justify-content-center mb-md-0">
                    <li>
                        <a class="nav-link px-2 text-white" asp-controller="Warsztat" asp-action="Home">Home</a>
                    </li>
                    <li>
                        <a class="nav-link px-2 text-white" asp-controller="Warsztat" asp-action="Magazyn">Magazyn</a>
                    </li>
                    <li>
                        <a class="nav-link px-2 text-white" asp-controller="Warsztat" asp-action="DodajZlecenie">Dodaj Zlecenie</a>
                    </li>
                    <li>
                        <a class="nav-link px-2 text-white" asp-controller="Warsztat" asp-action="HistoriaZlecen">Historia Zleceń</a>
                    </li>
                </ul>

                <div class="text-end">
                    <form asp-action="Logout" asp-controller="Account" method="post" style="display:inline;">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-outline-warning">Wyloguj się</button>
                    </form>
                </div>

            </div>
        </div>
    </header>

    <div class="container">
        
            @RenderBody()
        
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
