@model WarsztatApp.Web.Models.Warsztat
@{
}
<form  method="post">
	<label asp-for="Nazwa"></label>
	<input asp-for="Nazwa"/>
	<label asp-for="Adres"></label>
	<input asp-for="Adres" />
	<button type="submit">Edytuj</button>
</form>
